body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #e6efff;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6efff;
}

@font-face {
  font-family: 'MainFont';
  src: url('./assets/font/PyeongChangPeace-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Cafe24Font';
  src: url('./assets/font/Cafe24Ssurround.ttf') format('opentype');
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeaceLight';
  src: url('./assets/font/PyeongChangPeace-Light.ttf') format('opentype');
}
